
# Уся перевірка: юніти без брокера, інтеграція з ним.
test: phpunit

phpunit: setup
	docker exec php_$(PROJECT_NAME) /bin/bash -c "XDEBUG_MODE=off php vendor/bin/phpunit --no-coverage $(ARGS)"

test-unit: ARGS = --testsuite=unit
test-unit: phpunit

test-integration: ARGS = --testsuite=integration
test-integration: phpunit

test-filter: ARGS = --filter $(FILTER)
test-filter: phpunit

coverage: setup
	docker exec php_$(PROJECT_NAME) /bin/bash -c "XDEBUG_MODE=coverage php vendor/bin/phpunit"
